@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(214, 214, 214);
}

h1 {
    font-size: 18pt;
    margin-left: 10px;
}


.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(28, 29, 31);
    color: white;
    
}

.nav-head i {
    padding-right: 10px;

}

.nav-head ul {
    display: flex;
    list-style: none;
}

.nav-head ul li {
    font-size: 18pt;
    padding: 0px 10px;
}



.menu {
    width: 350px;
    height: 94.3vh;
    background-color: rgb(46, 46, 46);
    color: white;
    
}

.menu p {
    padding: 10px;
    padding-left: 20px;
    font-size: 12pt;
    background-color: rgb(78, 79, 80);
    color: rgb(155, 155, 155);


}

.menu ul {
    padding: 20px;
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    color: white;
}
.menu ul li {
    font-size: 13pt;
    font-weight: 300;

}
.menu ul li i {
    font-size: 13pt;
    padding-right: 5px;
    margin-bottom: 28px;

}



main {
    display: flex;
}

.conteudo {
    margin: 30px 50px;
    width: 100%;

}

.linha-1 {
    font-size: 13pt;
    display: flex;
    align-items: center;

}

.linha-1-sub {
    margin-left: 20px;
}
.linha-1-sub h5 {
    font-size: 14pt;
    font-weight: 600;
}
.linha-1-sub p {
    font-size: 12pt;
}

.linha-1 i  {
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: rgba(15, 8, 8, 0.842);
}

.linha-2 {
    display: flex;
    justify-content: end;
    
}

.button-new {
    margin-top: 40px;
    margin-right: 50px;
    font-size: 12pt;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-family: 100;
    background-color: black;
    color: white;
    padding: 5px 20px;
}

.button-new i {
    padding-right: 1px;
}

table {
    margin-top: 30px;
    /* display: flex; */
    justify-content: center;
    border-collapse: collapse;
}

table tr{
    display: flex;
    
}

tbody {
    border-collapse: collapse;
    border: 1px solid black;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

table tr th {
    width: 200px;
    margin: 0 auto;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.355);
}
table tr td{
    width: 200px;
    text-align: center;
}

.filtro {
    margin-top: 40px;
    margin-right: 55px;
    display: flex;
    justify-content: end;
}

.filtro button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.filtro input {	
    padding: 5px 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;

}

