@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


#container {
    width: 80%;
    margin: 1% auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.303);
    padding: 5px;

}

h1 {
    text-align: center  ;
    color: white;
}
.title > h1{
    font-size: 45px;
    color: white;
}
.title {
    background-color: #dd3507;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9vh;
}
.title i {
    font-size: 24pt;
    color: white;
}

.model {
    display: none;
    visibility: hidden;
}

.cont-body button{
    display: flex;
    
}

.body {
    display: flex;
    justify-content: space-around;
    margin: 2% 0px;

}

.cont-pedidos h2 {
    text-align: center;
}

.cont-pedidos {
    /* background-color: aquamarine; */
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    margin: 5px;
    text-align: center;
}

.cont-pedidos:nth-child(1){ border-right: 1px solid black;}

.pedido {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
}

.cliente_details {
    display: flex;
    margin: 5px 10px;
}
.title_pedidos {
    font-weight: bold;
    text-align: start;
    margin-left: 6px;
}
.pedido_details {
    text-align: start;
    /* display: flex; */
    margin: 12px 0px;
}

.pedido span {
    margin-left: 5px;
}

.pedido_details div {
    display: flex;
}

.hora_entrega{
    font-weight: bold;
    margin-left: -20%;
}

.cliente_details p {
    font-weight: bold;
}
.pedido_details span {
    margin-left: 5px;
    text-align: start;
}

.cont_pedido_details {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco_total {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

.preco_total p {
    margin-right: 5px; 
    font-weight: 700;
}

.btns{
    display: flex;
    justify-content:center;
}

.cont-btn-new_pedido, .cont-btn-relatorio{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.cont-btn-new_pedido button, .cont-btn-relatorio  button {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    width: 100%;
    background-color: transparent;
    color: #000;
    margin-left: -10%;
    font-size: 15px;
    border-radius: 20px;
    border-color:#ff3300;
}

.cont-btn-relatorio  button{
    width: 8vw;
    height: 5vh;
    font-size: 18px;
   justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.cont-btn-new_pedido > a, .cont-btn-relatorio > a{
    text-decoration: none;
}

.cont-btn-new_pedido button:hover , .cont-btn-relatorio button:hover{
    cursor: pointer; 
    color: #fff;
    background-color: #ff3300;
    border-color:#ff3300;
}



.imgH{
    width: 2.2vw;
    text-align: center;
}

.bxs-report{
    font-size: 20px;
}

.cont_endereco {
   width: 100%;
}

.idPedido{
    display: none;
}

.total{
    display: flex;
    align-items: center;
}

.btnPedidoEntregue{
    justify-content: center;
    font-weight: bold;
    display: flex;
    background-color: #ccc;
    padding: 8px 0px;
    width: 40%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #ff3300;
    color: #fff;
    margin-left: 30%;
}

.btnPedidoEntregue:hover{
    background-color: #ed4116;
    transition: 0.2s;
    cursor: pointer;
}

.btnEntrega{
    justify-content: center;
    font-weight: bold;
    display: flex;
    background-color: #ccc;
    padding: 8px 0px;
    width: 40%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #ff3300;
    color: #fff;
    margin-left: 30%;
    margin-top: 10px;
}

.btnEntrega:hover{
    background-color: #ed4116;
    transition: 0.2s;
    cursor: pointer;
}

.btnCancelar:hover{
    background-color: #d7a200;
    transition: 0.2s;
    cursor: pointer;
}
.btnCancelar{
    justify-content: center;
    font-weight: bold;
    display: flex;
    background-color: #ccc;
    padding: 8px 0px;
    width: 40%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #f8c325;
    color: #fff;
    margin-left: 30%;
    margin-top: 10px;
}
