@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


#container {
    width: 80%;
    margin: 1% auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.303);
    padding: 5px;
}

h1 {
    text-align: center  ;
}

.body div {

}

.cont-pedidos {
    display: flex;
    justify-content: space-around
}