main {
    display: flex;
}

.conteudo {
    margin: 30px 50px;
    width: 100%;
    
}

#teste {
    padding-left: 1px;
    font-size: 150pt;
}

.linha-1 {
    font-size: 13pt;
    display: flex;
    align-items: center;

}

.linha-1-sub {
    margin-left: 20px;
}
.linha-1-sub h5 {
    font-size: 14pt;
    font-weight: 600;
}
.linha-1-sub p {
    font-size: 12pt;
}

.linha-1 i  {
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: rgba(15, 8, 8, 0.842);
}

.cont-cards {
    display: flex;
}

.cards {
    width: 30%;
    margin-left: 20px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    background-color: white;
}

.linha-2 {
    width: 100%;
}

.linha-2-cont {
   display: flex; 
   padding: 20px;
}


.linha-2-cont i {
    font-size: 35pt;
}

/* .title-linha {
    text-align: end;
    background-color: blueviolet;
    width: 100px;
} */


.linha-2-sub {
    margin-left: 15px;
}

.linha-2-situation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.linha-2-situation div{
    text-align: center;
}

.linha-2-situation i {
    font-size: 25pt;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 20px;
}

.linha-2-situation h6 {
    font-size: 11pt;
    margin-bottom: 5px;
    font-weight: 400;
}



.linha-2-situation span {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

/* .mensa-s {
    color: chartreuse;
}
.mensa-s span {
    background-color: chartreuse;
} */


.vagas-cont {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.395);
}

.vagas-cont h3 {
    text-align: center;
    padding: 10px;
}

.vagas-cont hr {
    width: 90%;
    margin: 0 auto;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


.cont-cards-vagas {
    display: flex;
    justify-content: center;
    
}

.cards-vagas {
    padding-left: 50px;
    
}

.cards-vagas h4 {
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 10px;
}

.cards-vagas i {
    font-size: 32pt;
}

.sub-cards-vagas {
    text-align: center;
    margin-bottom: 20px;
}


.cards-vagas p {
    margin: 2px;
    background-color: #3b3b3b;
    width: 32px;
    padding: 10px 0px;
    color: white;
    font-size: 9pt;
    text-align: center;
    border-radius: 5px;
    

}

.mini1 .bx-cycling, .mini1 .bx-car,.mini1 .bxs-truck  {
    font-size: 15pt;
    background-color: rgb(201, 37, 37);
}
.mini2 .bx-cycling, .mini2 .bx-car,.mini2 .bxs-truck  {
    font-size: 15pt;
    background-color: rgb(201, 37, 37);
}
.mini3 .bx-cycling, .mini3 .bx-car,.mini3 .bxs-truck  {
    font-size: 15pt;
    background-color: rgb(201, 37, 37);
}

/* .mini2   {
    font-size: 15pt;
    background-color: rgb(201, 37, 37);

}
.mini3   {
    font-size: 15pt;
    background-color: rgb(201, 37, 37);

} */

#teste {
    font-size: 13pt;
    
}

.situation-vagas-mini-cards {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin: 0 auto;
}
.vagas-Ocupadas {
    background-color: red;
}


@media (max-width:1520px) {

    

    .menu ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul li i {
        font-size: 16pt;
        padding-right: 5px;
        color: white;
        margin-bottom: 28px;
    }

    .menu p  {
        padding: 0;
        padding: 5px 0px 0px 0px;
        text-align: center;

    }

    .menu p i {
            font-size: 20pt;
            margin-top: 5px;
            color: white;
    }
    
    .nav-title {
        display: none;
    }

    .section-config {
        display: none;
    }
    .modal-menu {
        position: fixed;
        text-align: start;
    }
    .modal-menu ul   {
        width: 1vh;
    }

    .modal-menu ul li {
        align-items: start;
    }
}


.modal-details-vagas {
    padding: 10px;
    position: fixed;
    width: 70%;
    left: 23%;
    top: 23%;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

.modal-details-vagas h1 {
    text-align: center;
    color: white;
    background-color: #3B3B3B;
}

.modal-details-vagas button {
    margin: 0 auto;
    display: flex;
    background-color: #3B3B3B;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}


.cont-id_vaga {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-id_vaga span {
    margin-left: 10px;
    height: 4vh;
    width: 2vw;
    padding-top: 7px;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #3B3B3B;
    border-radius: 5px;
}
.inps {
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px;  
    text-align: center;  

    /* padding: 20px; */
}

.inps div {
    /* margin-top: 10px; */
    margin: 10px;
    
}
.inps p{
    font-size: 11pt;
}
.inps input {
    height: 28px;
    text-align: center;
    font-size: 11pt;
}

.inps select {
    height: 27px;
    width: 5vw;
}
