@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 18pt;
    margin-left: 10px;
}


.model {
    display: none;
    visibility: hidden;
}


.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(28, 29, 31);
    color: white;
    
}

.nav-head i {
    padding-right: 10px;
}

.nav-head ul {
    display: flex;
    list-style: none;
}

.nav-head ul li {
    font-size: 18pt;
    padding: 0px 10px;
}



.menu {
    width: 350px;
    height: 94.3vh;
    background-color: rgb(46, 46, 46);
    color: white;
    
}

.menu p {
    padding: 10px;
    padding-left: 20px;
    font-size: 12pt;
    background-color: rgb(78, 79, 80);
    color: rgb(155, 155, 155);


}

.menu ul {
    padding: 20px;
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    color: white;
}
.menu ul li {
    font-size: 13pt;
    font-weight: 300;

}
.menu ul li i {
    font-size: 13pt;
    padding-right: 5px;
    color: white;
    margin-bottom: 28px;
}

main {
    display: flex;
}

.conteudo {
    margin: 30px 50px;
    width: 100%;
    
}


.linha-1 {
    font-size: 13pt;
    display: flex;
    align-items: center;

}

.linha-1-sub {
    margin-left: 20px;
}
.linha-1-sub h5 {
    font-size: 14pt;
    font-weight: 600;
}
.linha-1-sub p {
    font-size: 12pt;
}

.linha-1 i  {
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: rgba(15, 8, 8, 0.842);
}

.cont-cards {
    display: flex;
}

.cards {
    width: 100%;
    margin-left: 20px;
    display: flex;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    background-color: white;
}

.linha-2 {
    width: 100%;
}

.linha-2-cont {
   display: flex; 
   padding: 20px;
}


.linha-2-cont i {
    font-size: 35pt;
}

/* .title-linha {
    text-align: end;
    background-color: blueviolet;
    width: 100px;
} */


.linha-2-sub {
    margin-left: 15px;
}

.linha-2-situation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.linha-2-situation div{
    text-align: center;
}

.linha-2-situation i {
    font-size: 25pt;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 20px;
}

.linha-2-situation h6 {
    font-size: 11pt;
    margin-bottom: 5px;
    font-weight: 400;
}



.linha-2-situation span {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

/* .mensa-s {
    color: chartreuse;
}
.mensa-s span {
    background-color: chartreuse;
} */


.vagas-cont {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.395);
}

.vagas-cont h3 {
    text-align: center;
    padding: 10px;
}

.vagas-cont hr {
    width: 90%;
    margin: 0 auto;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.cont-cards-vagas {
    display: flex;
    justify-content: center;
}

.cards-vagas {
    padding-left: 50px;
    
}

.cards-vagas h4 {
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 10px;
}

.cards-vagas i {
    font-size: 32pt;
}

.sub-cards-vagas {
    text-align: center;
    margin-bottom: 20px;
}


.cards-vagas p {
    margin: 2px;
    background-color: black;
    width: 32px;
    padding: 10px 0px;
    color: white;
    font-size: 9pt;
    text-align: center;
    border-radius: 5px;

}

.situation-vagas-mini-cards {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin: 0 auto;
}