@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 18pt;
    margin-left: 10px;
}


.model {
    display: none;
    visibility: hidden;
}


.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(28, 29, 31);
    color: white;
    
}

.nav-head i {
    padding-right: 10px;
    cursor: pointer;
}

.nav-head ul {
    display: flex;
    list-style: none;
}

.nav-head ul li {
    font-size: 18pt;
    padding: 0px 10px;
}



.menu {
    width: 20%;
    height: 94.3vh;
    background-color: rgb(46, 46, 46);
    color: white;
    
}

.menu p {
    padding: 10px;
    padding-left: 20px;
    font-size: 12pt;
    background-color: rgb(78, 79, 80);
    color: rgb(155, 155, 155);


}

.bx-cycling {
    font-size: 20pt;
}
.menu ul {
    padding: 20px;
    list-style: none;
   
}

.menu ul a {
    text-decoration: none;
    color: white;
}
.menu ul li {
    font-size: 13pt;
    font-weight: 300;

}
.menu ul li i {
    font-size: 13pt;
    padding-right: 5px;
    color: white;
    margin-bottom: 28px;
    cursor: pointer;

}


.cont-tools {
    /* margin: 3% auto 0px auto; */
    margin-top: 3%;
    background-color: #2E2E2E;

    border-radius: 25px;
    width: 90%;
    height: 7vh;

    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
}

.tools {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 10px 5%;

}

.button-new {
    font-size: 12pt;
    border-radius: 5px;
    border: none;
    font-family: 100;
    background-color: rgb(255, 255, 255);
    padding: 5px 25px;
    cursor: pointer;
}

.button-new:hover  {
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: white;

}

.button-new:hover a {
    color: white;

}

.button-new:hover a i {
    color: white;

}


.button-new a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cont-tools .button-new i {
    padding-right: 5px;
    font-size: 15pt;
    
    color: rgb(0, 0, 0);
}

.filtro {
    margin-right: 55px;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}

.filtro i {
    margin-left: -30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 17pt;
    /* border-radius: 1px 15px 15px 0px; */
    cursor: pointer;
}

.filtro input {	
    padding: 5px 15px;
    width: 20vw;
    height: 3.5vh;
    border-radius: 40px;
    border: 1px solid black;

}

.filtro input:focus {
    outline: 0;
    border: none;
}

.cont-qtd {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;
    margin-left: 2%;
}
.cont-qtd i {
    font-size: 25pt;
    border-radius: 30px;
}
.cont-qtd p {
    margin-top: 2px;
    margin-left: 5px;
    color: black;
    font-size: 10pt;
    display: flex;

}

.cont-qtd b {
    padding-left: 5px;
}

.user {color: black;}
.disabled {color: red;}
.right {color: green;}
.locked {color: black;}
.open {color: black;}

.modal-certo , .modal-errado, .modal-errado-vagas {
    width: 25%;
    position: fixed;
    background-color: white;
    left: 42%;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}
.modal-excluir {
    width: 25%;
    position: fixed;
    background-color: white;
    left: 42%;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}

.modal-excluir p {
    margin: 10px auto;
}

.modal-errado  img{width: 50%;}
.modal-errado-vagas img {width: 50%;}
.modal-excluir img {width: 60%;}

.modal-certo button {
    background-color: #12D76E;
    color: white;
    font-weight: 500;
}

.btn-check {
    background-color: #12D76E;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.btn-error {
    background-color: #eb1c1c;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


.btn-excluir-sim {
    background-color: #f70404;
}
.btn-excluir-nao {
    background-color: #0e0e0e;
    
}
.cont-btn {
    display: flex;
}
.cont-btn button {
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}